<header id="main-header">
    <a href="{{ url_for('home') }}" class="logo">CINECRITICA</a>
    <div class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <nav id="nav-menu">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Serie TV</a></li>
            <li><a href="#">Nuove uscite</a></li>
            <li><a href="#">La mia lista</a></li>
        </ul>
    </nav>
</header>